[flake8]
# Ignore the following errors at this time:
# E266 too many leanding '#' for block comment
# E401 multiple imports on one line
# E402 module level import not at top of file
# F402 module level import not at top of file
# H306 imports not in alphabetical order

ignore = E266, E401, E402, F402, H306
max_line_length = 200
exclude = docs, chipsec_tools, scripts