*.o
*.d
*.pyc
*.obj
*.pdb
*.lib
*.log
chipsec.egg-info
dist
build
MANIFEST
.coverage

# Linux driver
*.so
chipsec/helper/linux/*.ko
drivers/linux/**/.*.cmd
drivers/linux/*.ko
drivers/linux/*.mod
drivers/linux/*.mod.c
drivers/linux/Module.symvers
drivers/linux/modules.order

# Windows driver
.vs/
chipsec/helper/windows/windows_amd64/
chipsec/helper/windows/windows_x86/
drivers/windows/Debug/
drivers/windows/Release/
drivers/windows/x64/

# Compression tools
chipsec_tools/compression/Bin/

# py2exe
bin/
scripts/bdist.win-amd64/

# Visual Studio Code
.vscode
