.. role:: normal

.. cssclass:: title

CHIPSEC

.. cssclass:: subtitle

version

.. image:: _images/chipsec_logo.jpg
   :scale: 30%

.. cssclass:: author

Platform Security Assesment Framework

.. raw:: pdf

   Spacer 0 3cm

.. cssclass:: author

.. |date| date:: %B %d, %Y

|date|

.. footer::

   .. image:: _images/footer.png
      :scale: 60%

.. raw:: pdf

   PageBreak mainPage
