.. role:: normal

.. cssclass:: title

CHIPSEC

.. cssclass:: subtitle

version 1.5.10

.. image:: _images/chipsec_logo.jpg
   :scale: 30%

.. cssclass:: author

Platform Security Assesment Framework

.. raw:: pdf

   Spacer 0 3cm

.. cssclass:: author

.. |date| date:: %B %d, %Y

|date|

.. raw:: pdf

   PageBreak cutePage
