Source: chipsec
Section: python
Priority: optional
Maintainer: CHIPSEC Team <chipsec@intel.com>
Build-Depends: python-setuptools (>= 0.6b3), python (>=2.6), gcc, nasm, linux-headers
Standards-Version: 3.9.1
Homepage: https://github.com/chipsec/chipsec

Package: chipsec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CHIPSEC: Platform Security Assessment Framework 
 CHIPSEC: Platform Security Assessment Framework
